{{> head }}
    {{> navbar }}
<div class="row">

    <div class="col-8">
        <h1>Perrito</h1>
        <p> 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat iure voluptates perspiciatis, modi et minima, aspernatur sint atque alias veniam blanditiis soluta quidem temporibus inventore quos quas dolorem necessitatibus illum.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/perro2.png" class="img-thumbnail">
    </div>
</div>

     {{> footer }}